/**Hero Section**/
.hero {
    margin-top: 120px;
    height: calc(100vh - 120px);
    background-color: #3b3131;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include flexAlign(column, center, center);
  
    &-text {
        color: $fourth-color;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        width: 85%;
        animation: fadein 4s;
    }
  
    &-button {
        width: 95%;
        max-width: 392px;
        height: 56px;
        font-size: 14px;
        font-weight: 400;
        color: $fourth-color;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: $secondary-color;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.24);
        box-shadow: 0px 0px 1px rgba(0,0,0,0.12);
    
    }
}
  
/**Fade in hero text**/
@keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
}