$primary-color: rgba(46, 49, 52, 0.8);
$secondary-color: #0069d2;
$third-color: #000c28;
$fourth-color: #fff;
$fifth-color: #2e3134;
$border-color: #979797;
$blue-hover-color: #0155a8;
$card-hover-color: #f5f5f5;